ion-content {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ocupa toda la pantalla */
  padding: 20px; /* Espacio alrededor en pantallas pequeñas */

  --background: none;
  background: url('/assets/img/decoration/oficinaReportes.jpeg') center center no-repeat;
  background-size: cover;
  //filter: blur(8px); /* Efecto de difuminado */
  position: relative;
}

ion-card {
  width: 100%;
  max-width: 520px; /* Limita el ancho máximo del card */
  background-color: rgb(203, 240, 228);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para un mejor diseño */

}

ion-input {
  border-radius: 10px;
}

::ng-deep ion-card ion-item {
  border-radius: 20px;
  padding: 5px;
  overflow: hidden; // Opcional
}


img {
  max-width: 100%; /* Imagen responsiva */
  height: auto;
  display: block;
  margin: 0 auto 20px auto; /* Centra la imagen horizontalmente */
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}




