<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ¿Quienes somos?
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content>
      <h1 style="margin: 20px;"><strong>Empresa de Acueducto comunitario del Queremal</strong></h1>
      <img src="/assets/img/decoration/parqueQuereaml.png" alt="" style="border-radius: 10px;">
      <hr>
      <h1><strong>NIT:</strong> XXXX-XXXX-XXXX</h1>
      <h1><ion-icon name="location-outline" style="font-size: 25h2x;"></ion-icon><strong>  Dirección:</strong> {{usuario.direccionUsuario}}</h1>
      <h1><ion-icon name="call-outline"></ion-icon><strong>  Telefono:</strong> {{usuario.telefonoUsuario}}</h1>
      <h1><ion-icon name="id-card-outline"></ion-icon><strong>  Celular: </strong>{{usuario.celularUsuario}} </h1>
      <h1><ion-icon name="mail-outline"></ion-icon><strong>  Correo:</strong> {{usuario.correoUsuario}}</h1>
      <h1><ion-icon name="time-outline"></ion-icon><strong>  Horario de Atención: </strong></h1>
      <div style="margin-left: 50px;">
        <p>Lunes a viernes de 8:00 am a 12pm y de 1:00 pm a 4:30 pm.</p>
        <p>Sábado: de 8:00 am a 12:00pm y de 1:00 pm a 3:30 pm.</p>
        <p>Domingos: de 8:00 am a 11:30 pm.</p>
        <p>Festivos: de 8:00 am a 11:30 pm.</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
