<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-content class="ion-padding">
    <ion-list style="border-radius: 10px;">
      <ion-menu-toggle>


        <ion-item>
          <ion-label (click)="redirectMenu('/reportes', usuarioLog.idUsuario)" >
            Reportes
          </ion-label>
        </ion-item>

        <ion-item *ngIf="visibleRepetidor">
          <ion-label (click)="irRepetidor()" >
            Masivo
          </ion-label>
        </ion-item>

        <ion-item *ngIf="visibleAsignaciones">
          <ion-label (click)="irAsignacionesDelOperador()">
            Mis Asignados
          </ion-label>
        </ion-item>

        <ion-item *ngIf="visibleUsuarios">
          <ion-label (click)="irTodosLosUsuarios()">
            Usuarios
          </ion-label>
        </ion-item>

        <ion-item *ngIf="visibleOperarios">
          <ion-label (click)="irTodosLosOperarios()">
            Operarios
          </ion-label>
        </ion-item>

        <ion-item *ngIf="visibleEstadisticas">
          <ion-label (click)="irEstadisticasDeOperarios()">
            Estadísticas de Operarios
          </ion-label>
        </ion-item>

        <ion-item *ngIf="visibleInfoEmpresa">
          <ion-label (click)="irInformacionEmpresa()">
            Sobre nosotros
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label (click)="paraverPerfilconId(usuarioLog.idUsuario)">
            Perfíl
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label (click)="cerrarSesion()">
            Cerrar Sesión
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title><strong>ACUA REPORTS</strong></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-card style="border-radius: 20px;">
      <ion-card-title>
        <div class="welcome-text">
          <h1 style="color: black;"><strong>Bienvenido {{usuarioLog.nombreUsuario}}</strong></h1>
        </div>
      </ion-card-title>
      <ion-card-content>
        <div class="description-text">
          <h1>
            <ion-icon name="information-circle-outline"></ion-icon>
            Bienvenido a su aplicación de confianza de atención al cliente.
            <strong>Sí necesita realizar un reporte, diríjase a las 3 líneas de la parte superior izquierda.</strong>
          </h1>
        </div>

        <br>
        <hr color="green">
        <br>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6">
              <img src="../../../assets/img/decoration/cascada.png" alt="Cascada">
            </ion-col>

            <ion-col size="12" size-md="6">
              <h1><strong>El Aporte de esta aplicación móvil y web.</strong></h1>
              <br>
              <h1>
                Para quienes usan nuestros servicios públicos hídricos en el sector del Quereaml central, habitantes y comerciantes de la localidad, tendrán ahora una herramienta que facilitará sus derechos en la prestación de servicios públicos hídricos.
              </h1>
              <br>
              <h1>
                Este proyecto abarca actividades para el debido mantenimiento de infraestructura local, empresarial, alcantarillado y reparación de daños públicos y contratados.
              </h1>
            </ion-col>
          </ion-row>

          <br>
          <hr color="green">
          <br>

          <ion-row>
            <ion-col size="12" size-md="6">
              <h1><strong>El aporte que ofrece la tecnología</strong></h1>
              <br>
              <h1>
                La automatización de los reportes y solicitudes que se generen en esta aplicación mejorarán el tiempo de respuesta y solución de daños y atenciones para los usuarios.
              </h1>
              <br>
              <h1>
                Esta implementación tecnológica está pensada para mejorar la atención al cliente, el cuidado de los recursos e impulsar el cuidado del recurso hídrico a través de la tecnología.
              </h1>
            </ion-col>
            <ion-col size="12" size-md="6" class="responsive-img">
              <!-- <img src="../../../assets/img/decoration/mantoVirgen.png" alt="Manto Virgen"> -->
              <img src="../../../assets/img/decoration/Danubio.png" alt="Danubio">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
