<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle style="font-weight: bold; color: white; ">Identificacion del Usuario</ion-card-subtitle>
        <p>{{usuario.cedulausuario}}</p>
        <p>{{usuario.idUsuario}}</p>
      </ion-card-header>

      <ion-card-content>
        <p>Nombre:{{usuario.nombreUsuario}} </p>
        <p>Correo: {{usuario.correoUsuario}} </p>
        <p>Celular: {{usuario.celularUsuario}}</p>
        <p>Estado: {{usuario.esActivo}}</p>
        <p>Direccion-Sector del Queremal</p>
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
