ion-content {
  --background: none;
  background: url('../../../assets/img/decoration/oficinaReportes.jpeg') center center no-repeat;
  background-size: cover;
  //filter: blur(8px); /* Efecto de difuminado */
  position: relative;

}
ion-card{
  opacity: 0.8;
  max-width: 800px;
  padding: 16px;
}
