<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card>

      <ion-card-content>
        <h1>Identificación del Usuario</h1>

        <p>Identificación: {{usuario.identificacionUsuario}}</p>

        <!-- <p>{{usuario.idUsuario}}</p> -->
        <ion-avatar style="margin-bottom: 20px;">
          @if(usuario.fotoAvatar===""){
            <img alt="Foto de usuario" src="../../../assets/icon/avatarDef.png" />
          }
          @else {
            <img alt="Foto de usuario" src="{{usuario.fotoAvatar}}" />
          }


        </ion-avatar>
        <p style="margin: 10px;">Cambiar foto

          <label for="carga-archivo">
            <ion-icon name="add-circle-outline" style="color: yellow;"></ion-icon>
          </label>
          <input type="file" accept="image/*" style="display: none;" id="carga-archivo" (change)="subirFotoAvatar($event)">
        </p>
        <p>Nombre:{{usuario.nombreUsuario}} </p>
        <p>Correo: {{usuario.correoUsuario}} </p>
        <p>Celular: {{usuario.celularUsuario}}</p>
        @if(usuario.esActivo===true){
          <p style="color: green;"> Empleado ACTIVO</p>
        }@else {
          <p style="color: red;">Empleado INACTIVO</p>
        }
        <p>Direccion-Sector del Queremal</p>

      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>
