img{
  height: 10;
  width: 20;
}

ion-item.imagen{
  height: 10;
  width: 20;
}

ion-item::part(native) {
  border-radius: 10px;
}

ion-item{
  margin-bottom: 10px;
}

ion-input{
  border-radius:10px ;
}
ion-card{
  max-width: 700px;
  padding: 20px;
  background-color: beige;
}
