<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  [defaultHref]="'/reportes/' + idPresenteDeUsuario"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Crear reporte
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <!-- Campo para el Número de Reporte -->
    <ion-item>
      <ion-label position="floating">Número de Reporte:</ion-label>
      <ion-input type="text" name="numeroReporte" aria-label="number" [(ngModel)]="nuevoReporte.numeroReporte" disabled="true" re></ion-input>
    </ion-item>

    <!-- Campo para la Descripción -->
    <ion-item>
      <ion-label position="floating" >Descripción *</ion-label>
      <ion-textarea type="text" name="descripcion" [(ngModel)]="nuevoReporte.descripcion" aria-label="text"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label (click)="tomarubicacion()">
        Posicion actual: <p>{{nuevoReporte.ubicacion}}</p>
      </ion-label>
      <ion-icon name="location-outline" color="danger" (click)="tomarubicacion()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Subir Fotos de galeria:</ion-label>
      <ion-buttons slot="end">
        <label for="carga-archivo">
          <ion-icon slot="icon-only" name="image-outline"></ion-icon>
        </label>
        <!-- ABRIR EXPLORADOR DE ARCHIVOS/GALERIA PARA CARGAR LAS FOTOS -->
        <input type="file" accept="image/*" style="display: none;" id="carga-archivo" (change)="subirFotoCrearReporte($event)">
      </ion-buttons>
    </ion-item>

    <ion-item>
      <ion-label>Tomar Foto</ion-label>
      <ion-buttons slot="end">
        <ion-button style="background-color: aquamarine; border-radius: 10px;" (click)="metodoTomarFoto()">
          Camara
          <ion-icon  name="camera-outline" style="margin-left: 10px;" ></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>




    <!-- MUESTRA FOTOS AL CREAR EL REPORTE -->
    <h2><strong>Sección Fotos del reporte:</strong></h2>
    <ion-item class="imagen" *ngFor="let urlFoto of enlacesFotos">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="{{urlFoto}}" alt="" style="margin: 10px; border-radius: 10px; height: 100px; width: 200px;">

        <ion-icon name="close-circle-outline" color="danger" (click)="eliminarFoto(urlFoto)" style="margin-top: 5px; margin-bottom: 10px;"></ion-icon>
      </div>
    </ion-item>



    <!-- MUESTRA FOTOS A EDITAR -->
    <ion-item class="imagen" *ngFor="let foto of fotosEditar">
      <div style="display: flex; flex-direction: column; align-items: center;">
        <img src="{{foto.urlFoto}}" alt="" style="margin: 10px; border-radius: 10px; height: 100px; width: 200px;">
        <ion-icon name="close-circle-outline" color="danger" (click)="eliminarFoto(foto.urlFoto)" style="margin-top: 5px; margin-bottom: 10px;"></ion-icon>
      </div>
    </ion-item>

    <hr color="grey">


    <!-- Botón para enviar el formulario -->
    <ion-button type="submit" (click)="guardarRegistro()" style="margin-left: 10px; margin-top: 10px; font-size: 9px;" color="success" *ngIf="paraEditar===false">Enviar</ion-button>

    <!-- Botón para enviar el formulario -->
    <ion-button type="submit" (click)="guardarRegistroEditar()" style="margin-left: 10px; margin-top: 10px; font-size: 9px;" color="warning" *ngIf="paraEditar===true">Guardar Edición</ion-button>

    @if (cargando) {
      <div style="text-align:center;">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
    }
    <p style="margin-left: 10px; color: orange;" >  <strong>Reportes realizados:</strong> {{numeroActualReportes}}</p>

    </ion-card-content>

  </ion-card>
</ion-content>






