<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Operarios Contratistas Fontaneros
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content style="margin: 1px;">
      <ion-button >
        <ion-icon slot="start" name="add"></ion-icon>
        Agregar operario
      </ion-button>
      <hr>



    </ion-card-content>
  </ion-card>
</ion-content>
