<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content>
      <h1><ion-icon name="information-circle-outline"></ion-icon>
        Usuarios clientes de la localidad del Queremal. Aquí se muestran y se pueden registrar desde la gestión empresarial a los usuarios.
      </h1>
      <ion-list>
        <ion-button (click)="navegarFormulario()" style="margin-left: 10px; ">Crear usuario</ion-button>
        <hr color="green">
        <ion-item *ngFor="let usuario of usuarios, let index">
          <ion-label>
            <ion-avatar style="margin-bottom: 20px;">
              @if(usuario.fotoAvatar===""){
                <img alt="Foto de usuario" src="/assets/icon/avatarDef.png" />
              }
              @else {
                <img alt="Foto de usuario" src="{{usuario.fotoAvatar}}" />
              }
            </ion-avatar>
            Nombre: {{usuario.nombreUsuario}}
            <p>Correo: {{usuario.correoUsuario}}</p>
            <p>Celular: {{usuario.celularUsuario}}</p>
            @if(usuario.esActivo===true){
              <p>Estado: <strong style="color: green;">Activo</strong></p>
            }@else {
              <p>Estado: <strong style="color: red;">Inactivo</strong></p>
            }
          </ion-label>
          @if (cargando) {
            <div style="text-align:center;">
              <ion-spinner name="bubbles"></ion-spinner>
            </div>
          }
          <ion-button color="danger" (click)="eliminarUsuario(usuario)" style="font-size: 8px;">Eliminar</ion-button>
          <ion-button color="success" (click)="navegarConIDVerReporte(usuario.idUsuario)" style="font-size: 8px;">Ver</ion-button>
          <ion-button color="warning" (click)="redireccionarParaEditar(usuario.idUsuario)" style="font-size: 8px;">Editar</ion-button>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>



</ion-content>
