<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reportes"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reporte
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-card>


      <ion-card-content>
        <strong>Reporte número: {{reporte.numeroReporte}}</strong>
        <p>Descripción expecifica: {{reporte.descripcion}}</p>
        <p>Coordenadas {{reporte.ubicacion}}</p>
        <p>Operario asignado: {{operarioAtiende.nombreUsuario}} </p>
        <p>Creador de reporte: {{usuarioLocal.nombreUsuario}}</p>

        <!-- <p style="color: green;">{{reporte.estado}}</p> -->
        @if(reporte.estado==="SOLUCIONADO"){
          <p style="color: green;"> SOLUCIONADO</p>
        }@else {
          <p style="color: orange;">EN PROCESO</p>
        }
        <ion-item *ngFor="let foto of fotosDeReporte">
          <img src="{{foto.urlFoto}}" alt="Fotos del reporte" style="border-radius: 10px;">
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>

<!-- SECCION DE GOOGLE MAPS -->
<ion-header>
  <ion-toolbar>
    <ion-title>Mapa Acua Reportes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-google-maps [coordinates]="destinationLocation"></app-google-maps>
</ion-content>
<!-- FIN SECCION GOOGLE MAPS -->
</ion-content>
