<ion-content>
  <div class="card-container">
    <ion-card>
      <ion-row>
        <ion-col size-md="3" size="12" class="ion-padding ion-blue-bkg image-container">
          <img
            src="../../../assets/icon/report.png"
            alt="Report icon"
            loading="lazy"
            class="centered-image"
          />
        </ion-col>
        <ion-col size-md="9" size="12" class="welcome">
          <ion-card-header>
            <ion-card-title style="text-align: center;">Acua Report</ion-card-title>
            <ion-card-content style="text-align: center;">Bienvenido a su gestor de reportes de confianza.</ion-card-content>
          </ion-card-header>

          <form action="" [formGroup]="formLogin">
            <!-- Campo para el Correo -->
            <ion-item>
              <ion-label position="floating">Correo:</ion-label>
              <ion-input formControlName="correoUsuarioLogin" type="email" aria-label="correoUsuarioLogin" [(ngModel)]="correoUsuarioLogin"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="formLogin.get('correoUsuarioLogin').invalid && formLogin.get('correoUsuarioLogin').touched">
              <p *ngIf="formLogin.get('correoUsuarioLogin').errors['required']">Correo es requerido.</p>
              <p *ngIf="formLogin.get('correoUsuarioLogin').errors['email']">Correo no es válido.</p>
            </ion-text>

            <ion-item>
              <ion-label position="floating">Clave:</ion-label>
              <ion-input type="password" formControlName="paseUsuarioLogin" [(ngModel)]="paseUsuarioLogin"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="formLogin.get('paseUsuarioLogin').invalid && formLogin.get('paseUsuarioLogin').touched">
              <p *ngIf="formLogin.get('paseUsuarioLogin').errors['required']">Clave es requerida.</p>
            </ion-text>

            <ion-button type="submit" style="margin-left: 10px; font-size: 9px;" color="primary" [disabled]="formLogin.invalid" (click)="iniciarSesion()">Entrar</ion-button>
          </form>
          <hr style="margin-top: 15px; margin-bottom: 15px;">
          <a href="formulario-registro" style="color: blue; margin-top: 15px;">No tiene una cuenta? Regístrate.</a>
          <br>
          <a href="recuperar-pass" style="color: blue; margin-bottom: 15px;">Olvidé mi contraseña</a>
          <br>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
