.mapa{
  display: block;
  height: 100%;
  width: 100%;
}

.miUbicacion{
  position: fixed;
  bottom: 0px;
  background-color: peru;
}

.aceptar{
  position: fixed;
  top: 50px;
  right: 5px;
  background: greenyellow;
}

.search{
  position: fixed;
  top: 45px;
  left: 0px;
}
