#chart {
  max-width: 650px;
  margin: 35px auto;
  background-color: white;
  border-radius: 10px;
}
ion-col {
  background-color: #135d54;
  border: solid 1px #fff;
  color: #fff;
  text-align: center;
}

ion-card-content{
  border-radius: 10px;
  margin: 20px;
  color: black;
  background: linear-gradient(360deg, rgb(234, 236, 235) 0%, rgb(121, 121, 121) 100%);
}

ion-card{
  border-radius: 10px;
  background-color: rgb(70, 70, 70);
  opacity: 0.9;
}

ion-content {
  --background: none;
  background: url('../../../assets/img/decoration/oficinaReportes.jpeg') center center no-repeat;
  background-size: cover;
  //filter: blur(8px); /* Efecto de difuminado */
  position: relative;
}





