<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Estadisticas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-content >
      <h1><strong>GRAFICO DE DESEMPEÑO POR TIPO DE ATENCIÓN/ARREGLO</strong></h1>
      <ion-grid [fixed]="true">
        <ion-row >
          <ion-col *ngFor="let item of arregloProblemasFull">{{item}}</ion-col>
        </ion-row>

        <ion-row >
          <ion-col *ngFor="let item of arregloProblemasAbreviado">{{item}}</ion-col>
        </ion-row>

        <ion-row >
          <ion-col *ngFor="let item of nuevoArra">{{item}}</ion-col>
        </ion-row>
      </ion-grid>

      <div id="chart">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions"
          [yaxis]="chartOptions.yaxis"
          [xaxis]="chartOptions.xaxis"
          [legend]="chartOptions.legend"
          [colors]="chartOptions.colors"
          [grid]="chartOptions.grid"
        ></apx-chart>
      </div>

    </ion-card-content>
  </ion-card>

  <hr color="blue">

  <ion-card>
    <ion-card-content>
      <h1><strong>MAPA DE CALOR DE REPORTES</strong></h1>
    </ion-card-content>
  </ion-card>
  <app-heatmap ></app-heatmap>


</ion-content>
