<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Estadísticas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-content>
      <h1><ion-icon name="information-circle-outline"></ion-icon>
        Seccion de informacion y análisis empresarial con los reportes atendidos por los usuarios.
      </h1>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content >
      <h1><strong>GRÁFICO DE DESEMPEÑO POR TIPO DE ATENCIÓN/ARREGLO</strong></h1>
      <p>En este grafico, se muestran los distintos tipos de estados del reporte en cuanto a su atención. Cada reporte cuenta con un tipo de situacion al ser atendido por un Operario.</p>
      <ion-grid [fixed]="true">
        <ion-row >
          <ion-col *ngFor="let item of arregloProblemasFull">{{item}}</ion-col>
        </ion-row>

        <ion-row >
          <ion-col *ngFor="let item of arregloProblemasAbreviado">{{item}}</ion-col>
        </ion-row>

        <ion-row >
          <ion-col *ngFor="let item of nuevoArra">{{item}}</ion-col>
        </ion-row>
      </ion-grid>

        <div id="chart">
          <div style="text-align: center;">
            <h1 style="color: black; font-weight: bold ; ">Número de reportes clasificados.</h1>
          </div>
          <apx-chart
            style="width: 1000px;"

            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [legend]="chartOptions.legend"
            [colors]="chartOptions.colors"
            [grid]="chartOptions.grid"
          ></apx-chart>
          <div>
            <h2 style="text-align: center;">Tipos de Categorías</h2>
          </div>
        </div>
    </ion-card-content>
  </ion-card>

  <hr color="gray">

  <app-heatmap ></app-heatmap>


</ion-content>
