<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button (click)="navegarMenu()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Reportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h1><ion-icon name="information-circle-outline" style="color: rgb(172, 156, 19);"></ion-icon>
        Realiza tus reportes aqui. Una vez realices tu solicitud, el operario asignado atenderá la situación en la mayor brevedad posible.
      </h1>
      <br>
      <ion-button  (click)="navegarFormularioCrearReporte()" style="margin-left: 10px; " color="success">Crear nuevo reporte</ion-button>
    </ion-card-content>
  </ion-card>

  <div *ngIf="usuarioPresente.idRol==='2' || usuarioPresente.idRol==='3'">
    <ion-accordion-group >
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label style="color: rgb(0, 110, 255); font-size: 23px;"><strong>Reportes generales: {{reportesGenerales.length}}</strong></ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card >
            <ion-card-content>
              <!-- TODO poner aqui los reportes generales -->
              <div>
                <ion-list>
                  <ion-item *ngFor="let reporteGen of reportesGenerales">
                    <ion-label>
                      <!-- REPORTES PERTENECIENTES PARA EL USUARIO LOGUEADO -->
                      <p><strong>Reporte numero: </strong>{{reporteGen.numeroReporte}}</p>
                      <p><strong>Descripcipon:</strong> {{reporteGen.descripcion}}</p>
                      <!-- <p><strong>Id Reporte:</strong> {{reporteGen.idReporte}}</p> -->
                      <p><strong>Fecha:</strong> {{reporteGen.fechaRegistroReporte}}</p>

                    <ion-button color="success" (click)="navegarConIDVerReporte(reporteGen.idReporte)" style="font-size: 10px;">Ver</ion-button>
                    </ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>

  <hr color="grey">

  <!-- SECCION DE USUARIO CLIENTE -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title style="color: orange;"><strong>Mis Reportes Pendientes: </strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-list>
            <ion-item *ngFor="let reportePnd of reportresUsuarioPendientes">
              <ion-label>
                <!-- REPORTES PERTENECIENTES PARA EL USUARIO LOGUEADO -->
                <p><strong>Reporte numero: </strong>{{reportePnd.numeroReporte}}</p>
                <p><strong>Descripcipon:</strong> {{reportePnd.descripcion}}</p>
                <!-- <p><strong>Id Reporte:</strong> {{reportePnd.idReporte}}</p> -->
                <p><strong>Fecha:</strong> {{reportePnd.fechaRegistroReporte}}</p>

              <ion-button color="danger" (click)="eliminarReporte(reportePnd.idReporte)" style="font-size: 10px;">Eliminar</ion-button>
              <ion-button color="success" (click)="navegarConIDVerReporte(reportePnd.idReporte)" style="font-size: 10px;">Ver</ion-button>
              <ion-button color="warning" (click)="navegarConIDEditarReporte(reportePnd.idReporte)" style="font-size: 10px;">Editar</ion-button>
              </ion-label>
              @if (cargando) {
                <div style="text-align:center;">
                  <ion-spinner name="bubbles"></ion-spinner>
                </div>
              }
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card >
      <ion-card-header>
        <ion-card-title style="color: green;"><strong>Mis Reportes Solucionados:</strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <ion-list>
            <ion-item *ngFor="let reporteSol of reportresUsuarioSolucionado">
              <ion-label>
                <!-- REPORTES PERTENECIENTES PARA EL USUARIO LOGUEADO -->
                <p><strong>Reporte numero: </strong>{{reporteSol.numeroReporte}}</p>
                <p><strong>Descripcipon:</strong> {{reporteSol.descripcion}}</p>
                <!-- <p><strong>Id Reporte:</strong> {{reporteSol.idReporte}}</p> -->
                <p><strong>Fecha:</strong> {{reporteSol.fechaRegistroReporte}}</p>

              <ion-button color="success" (click)="navegarConIDVerReporte(reporteSol.idReporte)" style="font-size: 10px;">Ver</ion-button>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
