ion-content {
  --background: none;
  background: url('/assets/img/decoration/oficinaReportes.jpeg') center center no-repeat;
  background-size: cover;
  //filter: blur(8px); /* Efecto de difuminado */
  position: relative;
}

ion-card{
  opacity: 0.9;
}

p{
  font-size: 18px;
  margin-top: 5px;
}

h2{
  text-align: center;
}
