<ion-content>
  <capacitor-google-map #map id="map">
  </capacitor-google-map>
  <div id="heatmap-legend">
    <h3 style="color: black;">Escala mapa de calor</h3>
    <div class="scale">
      <div class="color-block" style="background-color: #00FF00; color: black;"><strong style="margin-left: 5px;">Baja</strong></div>
      <div class="color-block" style="background-color: #ffee00; color: black;"><strong style="margin-left: 5px;">Mediana</strong></div>
      <div class="color-block" style="background-color: #FF0000; color: black;"><strong style="margin-left: 5px;">Alta</strong></div>
    </div>
  </div>

</ion-content>
