<ion-content >
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <h1><strong>MAPA DE REPORTES</strong></h1>
          <p>En este mapa, se apreciarán las ubicaciones de los distintos reportes, tipo de situación y el comentario del Operario en caso de que este ya sea atentido y solucionado</p>
          <br>
          <h1><ion-icon name="information-circle-outline"></ion-icon>
            SOLO LOS REPORTES QUE HAN SIDO DIAGNOSTICADOS Y ATENDIDOS POR EL OPERARIO APARECERÁN EN EL MAPA.
          </h1>
          <p>Los análisis de los reportes , contribuirá a una retroalimentacion de reparacion y prevención de daños.</p>
          <br>
          <p>Reportes "Sin revisión", no se graficarán en el mapa.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <capacitor-google-map #map id="map">
          </capacitor-google-map>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
