capacitor-google-map {
  display: block;
  width: 90% ;
  height: 500px;
  border-radius: 10px;
  margin: 10px;
}

//NUEVO PARA LA ESCALA
// #heatmap-legend {
//   position: absolute;
//   bottom: 20px;
//   left: 20px;
//   background: white;
//   padding: 10px;
//   border-radius: 5px;
//   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
// }

// .scale {
//   display: flex;
// }

.color-block {
  width: 50px;
  height: 20px;
  margin: 0 5px;
}

ion-card {
  width: 90%; /* Reduce el ancho en pantallas pequeñas */
  max-width: 1400px; /* Mantén un límite máximo en pantallas grandes */
  margin: 10px auto; /* Ajusta márgenes */
}

ion-card-content{
  color: rgb(77, 77, 77);
  background: linear-gradient(360deg, rgb(234, 236, 235) 0%, rgb(166, 221, 166) 100%);
  display: flex;
  align-items: flex-start; /* Alinea el contenido superior cuando hay espacio */
  justify-content: space-between; /* Espacia texto y mapa */
  flex-wrap: wrap; /* Permite que los elementos se reorganicen en varias líneas */
}


ion-content {
  --background: none;
  background: url('/assets/img/decoration/mapaDecoracion.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
}







