<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestion de Reportes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Reportes</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-list>
    <ion-item *ngFor="let usuario of usuarios, let index">
      <ion-label>
        Nombre: {{usuario.nombreUsuario}}
        <p>Direccion: {{usuario.direccionUsuario}}</p>
      </ion-label>
    </ion-item>
  </ion-list>



</ion-content>
